* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav_icons_wrapper img {
  margin: 0 4px;
  width: 30px;
  height: auto;
  cursor: pointer;
}
.nav_icons_wrapper img:hover {
  opacity: 60%;
  transition: 0.1s ease-in-out;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.nav_content a {
  color: black;
  text-decoration: none;
}
.nav_content a:hover {
  text-decoration: underline;
  transition: 0.1s ease-in-out;
}

.nav_upper {
  background: #ff9800;
}
.nav_upper img {
  width: 25px;
}
.nav_upper_flex {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px 10px;
}
@media (max-width: 768px) {
  .nav_upper_flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nav_upper_left {
  display: flex;
  gap: 16px;
}
@media (max-width: 768px) {
  .nav_upper_left {
    flex-direction: column;
    gap: 0px;
  }
}

.nav_lower_position {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 50% transparency */
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav_lower {
  width: 1024px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .nav_lower {
    width: 90%;
  }
}
.nav_lower a {
  text-decoration: none;
  color: white;
}
.nav_lower_flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  position: relative;
}
@media (max-width: 1024px) {
  .nav_lower_flex2 {
    display: none;
  }
}
.nav_lower_flex2 li {
  position: relative;
}
.nav_lower_flex2 div {
  position: absolute;
  background: #ff6f00;
  bottom: -5px;
  width: 100%;
  height: 1px;
}
.nav_lower_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.nav_lower_flex img {
  width: 150px;
}
.nav_lower_flex ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav_lower_flex ul li {
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}
.nav_lower_call {
  background: #ff6f00;
  border-radius: 32px;
  padding: 20px 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.nav_lower_call:hover {
  background: #ff9800;
  transition: 0.1s ease-in-out;
}
.nav_lower .hamburger_menu {
  display: none;
  width: 45px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .nav_lower .hamburger_menu {
    display: block;
  }
}

.hero {
  height: 70vh;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 75px 0 0 20px;
}

.hero_bg {
  background-image: url("https://i.ibb.co/KFdvLjW/ETP-Hero-Portapotty-Rental-2-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .hero_bg {
    background-position: top;
  }
}

.hero {
  color: white;
}
.hero h1 {
  padding: 0 0 8px 0;
  font-size: 34px;
}
.hero button {
  margin: 32px 0 0 0;
  padding: 20px 30px;
  border-radius: 32px;
  background: #ff6f00;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.hero button:hover {
  background: #ff9800;
  transition: 0.1s ease-in-out;
}

.mobile_nav {
  padding: 20px 30px;
  background: black;
  position: relative;
}
.mobile_nav::after {
  content: "";
  width: 100%;
  height: 200vh;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.mobile_nav li {
  list-style-type: none;
  padding: 10px 20px;
}
.mobile_nav a {
  text-decoration: none;
}
.mobile_nav p {
  margin: 20px 0 0 0;
}

.hover-text {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.hover-text:hover {
  color: #ff6f00;
  transition: 0.3s ease-in-out;
}

.hover-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1px;
  background: #ff6f00;
  transition: 0.3s ease;
}

.hover-text:hover::after {
  width: 100%;
  left: 0;
}

.iskustvo_wrapper_width {
  background: #ff6f00;
}

.iskustvo_wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 0 auto;
  max-width: 1024px;
}
@media (max-width: 1024px) {
  .iskustvo_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.iskustvo_wrapper_content {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1024px) {
  .iskustvo_wrapper_content {
    margin: 35px 0;
  }
}
@media (max-width: 425px) {
  .iskustvo_wrapper_content {
    margin: 20px 0;
  }
}
.iskustvo_wrapper_content img {
  width: 40px;
}
.iskustvo_wrapper_content .clock {
  width: 40px;
  height: 40px;
}
.iskustvo_wrapper_content:not(:last-child) {
  border-right: 1px solid white;
  padding: 0 20px 0 0;
}
@media (max-width: 1024px) {
  .iskustvo_wrapper_content:not(:last-child) {
    border-right: none;
  }
}
.iskustvo_wrapper_content h1 {
  font-size: 32px;
}
.iskustvo_wrapper_content p {
  font-size: 18px;
}

.gallery {
  display: grid;
  grid-template-areas: "item1 item2" "item3 item2";
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
  height: 500px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item:nth-child(1) {
  grid-area: item1;
}

.gallery-item:nth-child(2) {
  grid-area: item2;
}

.gallery-item:nth-child(3) {
  grid-area: item3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .gallery {
    grid: unset;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.onama_wrapper {
  max-width: 1024px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  color: white;
}
@media (max-width: 1024px) {
  .onama_wrapper {
    flex-direction: column;
  }
}
.onama_wrapper_content {
  background: #ff6f00;
  padding: 50px 30px;
  height: 460px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .onama_wrapper_content {
    width: 100%;
    border-radius: 0;
    padding: 50px 20px;
    min-width: unset;
    height: unset;
  }
}
.onama_wrapper_content h1 {
  margin: 0 0 20px 0;
}
.onama_wrapper_content button {
  margin: 32px 0 0 0;
  padding: 10px 20px;
  max-width: 150px;
  border-radius: 32px;
  background: black;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.onama_wrapper_content button:hover {
  background: white;
  color: black;
  transition: 0.1s ease-in-out;
}

.footer {
  background: black;
}

.footer_wrapper {
  color: white;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}
.footer_wrapper .footer_logo {
  width: 150px;
}
@media (max-width: 1024px) {
  .footer_wrapper .footer_kontakt,
  .footer_wrapper .footer_links {
    width: 90%;
    margin: 10px 0;
  }
}
.footer_wrapper .footer_kontakt p {
  margin: 10px 0;
}
.footer_wrapper_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1024px) {
  .footer_wrapper_content {
    width: 90%;
    margin: 10px 0;
  }
}
.footer_wrapper_content p {
  line-height: 1.7;
}
.footer_wrapper li {
  list-style-type: none;
  margin: 10px 0;
}
.footer_wrapper a {
  text-decoration: none;
  color: white;
}
.footer_wrapper a:hover {
  text-decoration: underline;
}

.copyright {
  background: #ff6f00;
  text-align: center;
  color: white;
  padding: 10px 10px;
  border: 1px solid #ff6f00;
}

.footer_upper_bg {
  background-image: url("https://i.ibb.co/F52bLSP/footerbg.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer_upper {
  padding: 66px 30px;
  color: white;
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  gap: 50px;
  align-items: center;
}
@media (max-width: 1024px) {
  .footer_upper {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 53px 20px;
  }
}
.footer_upper button {
  height: 50px;
  background: #ff6f00;
  border-radius: 30px;
  color: white;
  border: none;
  font-size: 16px;
  padding: 0 10px;
  width: 180px;
}
.footer_upper button a {
  text-decoration: none;
  color: white;
}
.footer_upper button:hover {
  background: black;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.footer_upper div {
  background-color: rgba(0, 0, 0, 0.7); /* 50% transparency */
  padding: 30px;
  border-radius: 10px;
}
.footer_upper div h2 {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  position: relative;
  font-size: 28px;
}
.footer_upper div h2::after {
  content: "";
  width: 200px;
  height: 2px;
  background: #ff6f00;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form_bg {
  background-color: rgba(0, 0, 0, 0.05); /* 50% transparency */
  padding: 20px 0;
  z-index: -3 !important;
}

.form_wrapper {
  margin: 50px auto;
  max-width: 1024px;
  border-radius: 10px;
  position: relative;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background: #ff6f00;
  z-index: 0;
}
@media (max-width: 1024px) {
  .form_wrapper {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
  }
}
.form_wrapper h2 {
  color: white;
}
.form_wrapper p {
  margin: 0 0 20px 0;
  font-size: 14px;
  color: white;
}
.form_wrapper .map {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_wrapper .map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .form_wrapper .map {
    width: 100%;
    height: 300px;
  }
}
.form_wrapper::after {
  content: "";
  width: 33%;
  height: 100%;
  background: white;
  position: absolute;
  right: 0;
  top: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -1;
}
@media (max-width: 1024px) {
  .form_wrapper::after {
    display: none;
  }
}
.form_wrapper form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
@media (max-width: 1024px) {
  .form_wrapper form {
    max-width: unset;
  }
}
.form_wrapper form input,
.form_wrapper form textarea {
  margin: 10px 0;
  padding: 10px 5px;
  border-radius: 10px;
  border: none;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Form Card Styling */
.form-card {
  background-color: #ff6f00; /* Dark overlay for contrast */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #ddd;
  background-color: #fff;
  color: #333;
  font-size: 16px;
}

textarea {
  max-width: 300px;
  max-height: 300px;
}
@media (max-width: 1024px) {
  textarea {
    max-width: unset;
  }
}

form input:focus,
form textarea:focus {
  border-color: black;
  outline: none;
  box-shadow: 0 0 5px #3e2723;
}

/* Button Styling */
form button {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: black;
}

.footer_poruku p {
  background: #ff6f00;
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 10px;
  max-width: 150px;
}

.cards-section {
  padding: 3rem 1rem;
  text-align: center;
  color: #3e2723;
  max-width: 1024px;
  margin: 50px auto;
}
.cards-section h2 {
  font-size: 30px;
  margin-bottom: 2rem;
  font-weight: 600;
  color: black;
}
.cards-section .cards-grid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .cards-section .cards-grid {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
.cards-section .card {
  background: #ff6f00;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.cards-section .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.cards-section .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.cards-section .card .card-content {
  padding: 1.5rem;
}
.cards-section .card .card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
  color: white;
}
.cards-section .card .card-content p {
  font-size: 1rem;
  color: white;
  margin-bottom: 1.2rem;
}
.cards-section .card .card-content button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cards-section .card .card-content button:hover {
  background-color: white;
  color: black;
}
.cards-section .card-large {
  width: 350px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
.cards-section .card-large:hover {
  transform: translateY(-15px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.form_wrapper input,
.form_wrapper textarea {
  border: 1px solid #ff6f00 !important;
}
@media (max-width: 1024px) {
  .form_wrapper input,
  .form_wrapper textarea {
    width: 100%;
  }
}
.form_wrapper textarea {
  height: 100px;
}
.form_wrapper button {
  background: black;
  margin: 10px 0 0 0;
  border-radius: 32px;
}
/*# sourceMappingURL=styles.css.map */
