* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav_icons_wrapper img {
  margin: 0 4px;
  width: 30px;
  height: auto;
  cursor: pointer;
}
.nav_icons_wrapper img:hover {
  opacity: 60%;
  transition: 0.1s ease-in-out;
}

.nav_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.nav_content a {
  color: black;
  text-decoration: none;
}
.nav_content a:hover {
  text-decoration: underline;
  transition: 0.1s ease-in-out;
}

.nav_upper {
  background: #ff9800;
}
.nav_upper img {
  width: 25px;
}
.nav_upper_flex {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px 10px;
}
@media (max-width: 768px) {
  .nav_upper_flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nav_upper_left {
  display: flex;
  gap: 16px;
}
@media (max-width: 768px) {
  .nav_upper_left {
    flex-direction: column;
    gap: 0px;
  }
}

.nav_lower_position {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 50% transparency */
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav_lower {
  width: 1024px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .nav_lower {
    width: 90%;
  }
}
.nav_lower a {
  text-decoration: none;
  color: white;
}
.nav_lower_flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  position: relative;
}
@media (max-width: 1024px) {
  .nav_lower_flex2 {
    display: none;
  }
}
.nav_lower_flex2 li {
  position: relative;
}
.nav_lower_flex2 div {
  position: absolute;
  background: #ff6f00;
  bottom: -5px;
  width: 100%;
  height: 1px;
}
.nav_lower_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.nav_lower_flex img {
  width: 150px;
}
.nav_lower_flex ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav_lower_flex ul li {
  list-style-type: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}
.nav_lower_call {
  background: #ff6f00;
  border-radius: 32px;
  padding: 20px 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.nav_lower_call:hover {
  background: #ff9800;
  transition: 0.1s ease-in-out;
}
.nav_lower .hamburger_menu {
  display: none;
  width: 45px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .nav_lower .hamburger_menu {
    display: block;
  }
}

.hero {
  height: 70vh;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 75px 0 0 20px;
}

.hero_bg {
  background-image: url("https://i.ibb.co/KFdvLjW/ETP-Hero-Portapotty-Rental-2-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  color: white;
}
.hero h1 {
  padding: 0 0 8px 0;
  font-size: 34px;
}
.hero button {
  margin: 32px 0 0 0;
  padding: 20px 30px;
  border-radius: 32px;
  background: #ff6f00;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.hero button:hover {
  background: #ff9800;
  transition: 0.1s ease-in-out;
}

.mobile_nav {
  padding: 20px 30px;
  background: black;
}
.mobile_nav li {
  list-style-type: none;
  padding: 10px 0;
}
.mobile_nav a {
  text-decoration: none;
}
.mobile_nav p {
  margin: 20px 0 0 0;
}

.hover-text {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.hover-text:hover {
  color: #ff6f00;
  transition: 0.3s ease-in-out;
}

.hover-text::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1px;
  background: #ff6f00;
  transition: 0.3s ease;
}

.hover-text:hover::after {
  width: 100%;
  left: 0;
}
/*# sourceMappingURL=styles.css.map */
